langchain
pandas
pinecone_client
plotly
bs4
openai
tiktoken
pydantic
streamlit
unstructured
black
replicate
boto3
streamlit_chat
sentence_transformers

pydub
google-cloud-speech
google-cloud-texttospeech
wave
pygame
audio-recorder-streamlit
